@model BTLNhom10.Models.Luong

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Nhan vien</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaNV" />
            <div class="form-group">
                <label asp-for="TenNV" class="control-label"></label>
                <input asp-for="TenNV" class="form-control" />
                <span asp-validation-for="TenNV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LuongCoBan" class="control-label"></label>
                <input asp-for="LuongCoBan" class="form-control" />
                <span asp-validation-for="LuongCoBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhuCap" class="control-label"></label>
                <input asp-for="PhuCap" class="form-control" />
                <span asp-validation-for="PhuCap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeSoLuong" class="control-label"></label>
                <input asp-for="HeSoLuong" class="form-control" />
                <span asp-validation-for="HeSoLuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LuongChuyenCan" class="control-label"></label>
                <input asp-for="LuongChuyenCan" class="form-control" />
                <span asp-validation-for="LuongChuyenCan" class="text-danger"></span>
            </div>
            
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
NguyenHongQuan-1921050489