@model BTLNhom10.Models.Banquanly

@{
    ViewData["Title"] = "Edit";
}

<div class="w3-row w3-teal col-md-2">
    
        <h2 class="w3-center w3-text" style=" font-family: Times New Roman; font-size:20px ">Sửa thông tin</h2>
</div>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaNV" />
            <div class="form-group">
                <label asp-for="TenNV" class="control-label"></label>
                <input asp-for="TenNV" class="form-control" />
                <span asp-validation-for="TenNV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QueQuan" class="control-label"></label>
                <input asp-for="QueQuan" class="form-control" />
                <span asp-validation-for="QueQuan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tuoi" class="control-label"></label>
                <input asp-for="Tuoi" class="form-control" />
                <span asp-validation-for="Tuoi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GioiTinh" class="control-label"></label>
                <input asp-for="GioiTinh" class="form-control" />
                <span asp-validation-for="GioiTinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamKN" class="control-label"></label>
                <input asp-for="NamKN" class="form-control" />
                <span asp-validation-for="NamKN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChucVu" class="control-label"></label>
                <input asp-for="ChucVu" class="form-control" />
                <span asp-validation-for="ChucVu" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                @* <input type="submit" value="Save" class="btn btn-primary" /> *@
                <input type="submit" value="Lưu thông tin" class="btn btn-primary " style="margin-top: 20px;" />
            </div>
        </form>
    </div>
</div>

<div>
     <a asp-action="Index" ><button  class="w3-button w3-blue w3-holver" style="margin-top: 20px;">Quay lại</button></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<p style="margin-top: 100px;">NguyenHongQuan-1921050489</p>